$max-width: 1280px;
$gray: #7E8899;
$light-green: #E8FAF0;
$strong-green: #3B9972;
$light-purple: #F9F5FF;
$strong-purple: #8868D2;

$white: White;


$blue-btn: #1570EF;
$blue-link: #2364D5;

$border-round: 0.5rem;
