$max-width: 1280px;

$spanish-orange: #DA6220;
$rifle-green: #4E4F3C;
$laurel-green: #C5D2AA;
$spanish-gray: #8D9389;
$peach-crayola: #FBCB9C;
$white: White;


$blue-btn: #1570EF;
$blue-link: #2364D5;