@import '_vars';
.LandingMain{
    max-width: $max-width;
    margin: auto;
}

/////////LANDING MAIN STARTS
.demo-btn{
    background-color: white;
    color: black;
}
.left-upper .subtitle{
    color: gray;
}
.gray-bg{
    background-color: gainsboro;
    max-width: 50rem;
    min-width: 40rem;
    border-top-left-radius: 50%;
    border-top-right-radius:50%;
}
/////////LANDING MAIN ENDS


@media(min-width:300px){
/////////LANDING MAIN STARTS
    .left-upper{
        margin: 0 1rem;
    }
    .demo-btn img{
        width: 2rem;
    }
    .review-container img{
        width: 70%;
        max-width: 22rem;
    }
    .subtitle{
        margin: 1rem 0;
    }
    .demo-btns{
        display: flex;
        flex-direction: column;
    }
    .demo-btn{
        order: 1;
    }
    .review-container{
        width: 100%;
        margin: 2rem 0;
    }
    .demo-btns button{
        margin: 0.5rem 0;
    }
    .gray-bg{
        height: 30rem;
        margin-left: -3.5rem;
        position: relative;
        margin-top: 8rem;
    }
    .gray-bg img{
        position: absolute;
    bottom: 0;
    width: 20rem;
    left: calc(50% - 10rem);
    }
    // ** font size begin
    .LandingMain .title{
        font-size: 3rem;
        margin-top: 4rem;
    }
    .LandingMain .subtitle{
        font-size:larger;
        margin: 2rem 0;
    }

/////////LANDING MAIN STARTS

}

@media(min-width:768px){
/////////LANDING MAIN STARTS
    .LandingMain{
        display: flex;
        flex-direction: row;
    }
    .LandingMain .left-upper,
    .LandingMain .right-lower{
        width: 50%;
        margin: 0 1rem;
    }
    .LandingMain .left-upper{
        width: 40%;
    }
    .LandingMain .right-lower{
        width: 60%;
    }
    .demo-btns{
        display: flex;
        flex-direction: row;
    }
    .demo-btns button{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .demo-btns .demo-btn{
        order: 0;
        margin-right: 2rem;
    }
    .LandingMain button img{
        margin-right: 0.3rem;
    }
    .review-container img {
        width: 70%;
    }
    .gray-bg img{
        position: absolute;
        max-width: 16rem;
        bottom: 0;
        right: calc(50% - 8rem);
    }
    .gray-bg{
        height: 100%;
        margin: auto;
        margin-right: 0;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: flex-end;
        position: relative;
    }
/////////LANDING MAIN ENDS
}
@media(min-width:1024px){
/////////LANDING MAIN STARTS
    .demo-btn img {
        width: 2rem;
    }
    .review-container img {
        width: 50%;
        margin: 2rem 0
    }
    .gray-bg img{
        position: absolute;
        max-width: 20rem;
        bottom: 0;
        right: calc(50% - 10rem);
    }

    //FONT SIZES BEGIN
    .LandingMain .title{
        font-size: xxx-large;
    }
    .LandingMain .subtitle{
        font-size: medium;
        margin: 2rem 0;
    }
/////////LANDING MAIN ENDS
}