@import '_vars';

.Navbar{
    margin-bottom: 2rem;
}

.nav-content{
    max-width: $max-width;
    margin: auto;
    padding: 0.5rem 0;
}
.sandwhich-menu div{
    width: 1.5rem;
    height: 0.2rem;
    background-color: gray;
    margin-right: 2rem;
}
.NavbarMobile{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sandwhich-menu div:first-child{
   margin-bottom: 0.2rem;
}
.sandwhich-menu div:last-child{
    margin-top: 0.2rem;
 }

/*Navbar Browser begin*/
.NavbarBrowser{
    width: 100%;
    justify-content: space-between;
}
.NavbarBrowser a{
    color: black;
    font-size: medium;
    margin: auto 0.5rem ;
}
.navbar-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.nav-user{
}
.nav-user .btn{
    margin-right: 1rem;
    border: none;
    background-color: transparent;
    color: gray;
    font-weight: bold;
}
/*Navbar Browser end*/



@media(min-width:300px){
    .nav-content .logo{
        width: 8rem;
        margin-left: 2rem;
    }
    .Navbar .NavbarBrowser{
        display: none;
    }
    .Navbar .NavbarMobile{
        display: flex;
    }
}

@media(min-width:768px){
    .nav-content .logo{
        width: 10rem;
        height: auto;
        margin-left: 2rem;
    }
    .Navbar .NavbarBrowser{
        display: flex;
    }
    .Navbar .NavbarMobile{
        display: none;
    }
}

@media(min-width:800px){
    .nav-content .logo{
        width: 15rem;
        margin-right: 1.5rem;
    }
}
@media(min-width:1024px){
    .nav-content .logo{
        margin-left: 0;
    }
}